#footer
    div.legal-urls
        a(href="/privacy-policy/") Privacy Policy
        a(href="/terms/") Terms of Service
        a(href="/legal/") Legal details
    div.other-urls
        a(href="https://github.com/DeepRobin/deep-shortener") GitHub
        a(href="https://twitter.com/DeepRobin_") Robin on twitter
    div
        span &copy; DeepRobin 2018 - All rights reserved.