#footer
    div.legal-urls
        a(href="/privacy-policy/", alt=__("footer.privacy-policy"))=__("footer.privacy-policy")
        a(href="/terms/", alt=__("footer.terms"))=__("footer.terms")
        a(href="/legal/", alt=__("footer.legal"))=__("footer.legal")
    div.other-urls
        a(href="https://github.com/DeepRobin/deep-shortener", target="_blank", alt="Code Repository: GitHub") GitHub
        a(href="https://discord.gg/EEMqcZ2", target="_blank", alt="Discord") Discord
        a(href="https://www.facebook.com/DeepShortener/", target="_blank", alt="Social Media: Facebook") Facebook
        a(href="https://twitter.com/DeepRobin_", target="_blank") Robin's Twitter
    div
        span=__('footer.copyright')