#footer
    div.legal-urls
        a(href="/privacy-policy/")=__("footer.privacy-policy")
        a(href="/terms/")=__("footer.terms")
        a(href="/legal/")=__("footer.legal")
    div.other-urls
        a(href="https://github.com/DeepRobin/deep-shortener", target="_blank") GitHub
        a(href="https://www.facebook.com/DeepShortener/", target="_blank") Facebook
        a(href="https://twitter.com/DeepRobin_", target="_blank") Robin's Twitter
    div
        span=__('footer.copyright')