#footer
    div.legal-urls
        a(href="/privacy-policy/")=__("footer.privacy-policy")
        a(href="/terms/")=__("footer.terms")
        a(href="/legal/")=__("footer.legal")
    div.other-urls
        a(href="https://github.com/DeepRobin/deep-shortener") GitHub
        a(href="https://twitter.com/DeepRobin_") Robin on twitter
    div
        span=__('footer.copyright')