<!DOCTYPE html>
html(lang="en")
    head
        title Deep URL-Shortener - Free Short URLs
        link(rel='canonical', href='https://sh-rt.ovh/')
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
        link(rel='apple-touch-icon', href='images/icons/icon-152x152.png')
        script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js' defer)
        link(rel='manifest', href='/manifest.json')
        script(src='/js/script.js', type='text/javascript' async)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(charset='UTF-8')
        meta(name='robots', content='nofollow')
        meta(name='title', content='Deep URL-Shortener - Make long urls shorter than before')
        meta(name='description', content='DeepShortener is a Open-Source url-shortener. DeepShortener is very useful to short very long urls. It was made by DeepRobin and his contributors.')
        meta(name='keywords', content='DeepShortener, url shortener, url-shortener, short url, short link, long url, my url is too long, free')
        meta(name='author', content='DeepRobin (Robin Lindner)')
        meta(name='theme-color', content='#9980FA')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='orange')
        meta(name='apple-mobile-web-app-title', content='DeepShortener')
        meta(name='msapplication-TileImage', content='images/icons/icon-144x144.png')
        meta(name='msapplication-TileColor', content='#9980FA')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(property="og:title", content="DeepShortener")
        meta(property="og:description", content="DeepShortener is a Open-Source url-shortener. It was made by DeepRobin and his contributors.")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://sh-rt.ovh")
        meta(property="og:image", content="/img/background.svg")
    body
      #top
        h1 Robins URL Shortener - SHRT.OVH
        .only-desktop.text
          | If your URL is too long, you can make it shorter here. DeepShortener is Open Source and very resource-friendly.
      div.container
        form
          input#urlInput.fail(type="url", placeholder="Which url you want to short?")
          input#submit(type="button", value="Short!", disabled)
          input#output.not-editable(type="url", readonly)
      #snackbar
        | Copied!
      include footer.pug
