<!DOCTYPE html>
html(lang="de")
    head
        title Deep URL-Shortener - Free Short URLs
        link(rel='canonical', href='https://shrt.deeprobin.de/')
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js' defer)
        script(src='/js/script.js', type='text/javascript' async)
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(charset='UTF-8')
        meta(name='title', content='Deep URL-Shortener - Free Short URLs')
        meta(name='description', content='DeepShortener is a Open-Source url-shortener. It was made by DeepRobin and his contributors..')
        meta(name='keywords', content='DeepShortener, url shortener, url-shortener, short url, short link, long url, my url is too long, free')
        meta(name='author', content='DeepRobin (Robin Lindner)')
        meta(name='theme-color', content='#9980FA')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body(theme="colorful")
      h1 Robins URL Shortener
      div.container
        form
          input#urlInput.fail(type="url", placeholder="Which url you want to short?")
          input#submit(type="button", value="Submit", disabled)
          input#output.not-editable(type="url", readonly)
      #snackbar
        | Copied!
      include footer.pug
