<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Deep URL-Shortener
        link(rel="stylesheet", href="/css/style.css")
        script(src='//code.jquery.com/jquery-latest.min.js', type='text/javascript')
        script(src='/js/script.js', type='text/javascript')
    body
      h1 Robins URL Shortener
      div.container
        form
          input#urlInput.fail(type="url", placeholder="Which url you want to short?")
          input#submit(type="button", value="Submit", disabled)
          input#output.not-editable(type="url", readonly)
      #snackbar
        | Copied!
