@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

html, body {
    margin: 0; 
    height: 100%; 
    width: 100%;
    overflow: hidden
}

body[theme="colorful"] {
    animation-name: backgroundColor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

body[theme="dark"] {
    animation-name: backgroundColorDark;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

h1 {
    font-family: 'Spicy Rice', cursive;
    color: white;
    text-shadow: 0 0 3pt black;
    font-size: 56pt;
    text-align: center;
    z-index: 10;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#urlInput {
    border-top-left-radius: 5pt;
    border-bottom-left-radius: 5pt;
}

#output {
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
}

input[type="url"] {
    height: 32pt;
    font-size: 18pt;
    outline: none;
    border-style: solid;
    transition: all 500ms;
}

#urlInput {
    background-color: rgb(130, 255, 167);
}

#urlInput:focus {
    border-color: rgb(35, 137, 253)
}

#urlInput.fail {
    background-color: rgb(248, 141, 141);
}

#submit {
    height: 32pt;
    font-size: 18pt;
    outline: none;
    background-color: orange;
    padding: 7pt;
    border-style: none;
    transition: all 500ms;
    cursor: pointer;
    color: white;
    margin: 5pt;
    border-radius: 3pt;
}

#submit:disabled {
    background-color: rgb(155, 124, 66);
    cursor: not-allowed;
}

#submit:enabled:hover {
    background-color: orangered;
}

@media only screen and (max-width: 768px) {
    #urlInput {
        width: 100vw;
        border-radius: 0;
        margin: 5pt;
        text-align: center;
    }

    #submit {
        width: 100vw;
        border-radius: 0;
        margin: 5pt;
    }

    #output {
        width: 100vw;
        border-radius: 0;
        margin: 5pt;
        text-align: center;
    }
}

@keyframes backgroundColorDark {
    0% {
        background-color: rgb(52, 73, 94);
    }

    10% {
        background-color: rgb(44, 62, 80);
    }

    20% {
        background-color: rgb(39, 60, 117);
    }

    30% {
        background-color: rgb(25, 42, 86);
    }

    40% {
        background-color: rgb(53, 59, 72);
    }

    50% {
        background-color: rgb(47, 54, 64);
    }

    60% {
        background-color: rgb(10, 61, 98);
    }

    70% {
        background-color: rgb(30, 55, 153)
    }

    80% {
        background-color: rgb(12, 36, 97);
    }

    90% {
        background-color: rgb(15, 53, 155);
    }

    100% {
        background-color: rgb(7, 153, 146);
    }
}


@keyframes backgroundColor {
    0% {
        background-color: rgb(0, 255, 170);
    }

    10% {
        background-color: rgb(87, 190, 47);
    }

    20% {
        background-color: rgb(95, 7, 112);
    }

    30% {
        background-color: crimson;
    }

    40% {
        background-color: rgb(255, 200, 60);
    }

    50% {
        background-color: deeppink;
    }

    60% {
        background-color: forestgreen;
    }

    70% {
        background-color: rgb(214, 73, 8)
    }

    80% {
        background-color: darkcyan;
    }

    90% {
        background-color: lightcoral;
    }

    100% {
        background-color: chartreuse;
    }
}



#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Segoe UI', sans-serif;
}

#snackbar.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#footer {
    background-color: #596275;
    color: white;
    width: 100%;
    height: 48pt;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: monospace;
    text-align: center;
    font-size: 14pt;
}

#footer a {
    text-decoration: none;
    color: palevioletred;
    margin-right: 7pt;
    margin-left: 7pt;
}

#footer a:hover {
    text-decoration: underline;
}

#footer span {
    font-size: 8pt;
}