@import url('https://fonts.googleapis.com/css?family=Rubik:700,900');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

html, body {
    margin: 0; 
    height: 100%; 
    width: 100%;
    overflow: hidden
}

body {
    background: url(/img/background.svg);
    overflow: hidden;
}

#top {
    position: absolute;
}

.text {
    color: #333;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    font-size: 14pt;
    position: static;
    margin-top: 12pt;
    text-align: center;
    width: 100vw;
}

#title {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 46pt;
    text-align: center;
    z-index: 10;
    width: 100vw;
}

.no-wrap {
    white-space: nowrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#urlInput {
    border-top-left-radius: 5pt;
    border-bottom-left-radius: 5pt;
}

#output {
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
}

input[type="url"] {
    height: 32pt;
    font-size: 18pt;
    outline: none;
    border-style: solid;
    transition: all 500ms;
}

#urlInput {
    background-color: rgb(130, 255, 167);
}

#urlInput:focus {
    border-color: rgb(35, 137, 253)
}

#urlInput.fail {
    background-color: rgb(248, 141, 141);
}

#submit {
    height: 32pt;
    font-size: 18pt;
    outline: none;
    background-color: orange;
    padding: 7pt;
    border-style: none;
    transition: all 500ms;
    cursor: pointer;
    color: white;
    margin: 5pt;
    border-radius: 3pt;
}

#submit:disabled {
    background-color: rgb(155, 124, 66);
    cursor: not-allowed;
}

#submit:enabled:hover {
    background-color: orangered;
}



  @media only screen and (max-width: 768px) {

    #title {
        font-size: 28pt;
    }

    #urlInput {
        width: 100vw;
        border-radius: 0;
        margin: 5pt;
        text-align: center;
        min-height: 48px;
    }

    #submit {
        width: 100%;
        border-radius: 0;
        margin: 5pt;
        min-height: 48px;
    }

    #output {
        width: 100vw;
        border-radius: 0;
        margin: 5pt;
        text-align: center;
        min-height: 48px;
    }

    .only-desktop {
        display: none;
    }

    .container {
        width: 100%;
      }
      form {
      padding: 1rem;
      }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Segoe UI', sans-serif;
}

#snackbar.show {
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#footer {
    background-color: #596275;
    color: white;
    width: 100%;
    /* height: 48pt; */
    padding: 8pt;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: monospace;
    text-align: center;
    font-size: 14pt;
}

.legal-urls a {
    color: #EED7E0;
}

.other-urls a {
    color: #63F6BB;
}

#footer a {
    text-decoration: none;
    margin-right: 7pt;
    margin-left: 7pt;
}

#footer a:hover {
    text-decoration: underline;
}

#footer span {
    font-size: 8pt;
}