doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel="stylesheet", href="/css/legal.css")
        title Datenschutzerklärung 
    body
        include ../privacy-policy-sidebar.pug
        .content
            h1 Datenschutzerklärung 
            p
                | Ihre Privatsphäre ist uns wichtig. Robin Lindner respektiert Ihre Privatsphäre in Bezug auf alle Informationen, die wir von Ihnen über unsere Website, 
                a(href='https://sh-rt.ovh') https://sh-rt.ovh
                | und andere Websites, die wir besitzen und betreiben, sammeln.
            p
                | Wir fragen nur dann nach personenbezogenen Daten, wenn wir sie wirklich benötigen, um Ihnen einen Service zu bieten. Wir sammeln sie auf faire und rechtmäßige Weise, mit Ihrem Wissen und Ihrer Zustimmung. Wir teilen Ihnen auch mit, warum wir sie sammeln und wie sie verwendet werden.
            p
                | Wir speichern die gesammelten Daten nur so lange, wie es für die Erbringung der von Ihnen gewünschten Dienstleistung erforderlich ist. Welche Daten wir speichern, schützen wir im Rahmen wirtschaftlich akzeptabler Möglichkeiten, um Verlust und Diebstahl sowie unbefugten Zugriff, Offenlegung, Kopie, Nutzung oder Änderung zu verhindern.
            p
                | Wir geben keine personenbezogenen Daten öffentlich oder an Dritte weiter, außer wenn dies gesetzlich vorgeschrieben ist.
            p
                | Unsere Website kann auf externe Websites verweisen, die nicht von uns betrieben werden. Bitte beachten Sie, dass wir keine Kontrolle über den Inhalt und die Praktiken dieser Websites haben und keine Verantwortung oder Haftung für deren Datenschutzrichtlinien übernehmen können.
            p
                | Es steht Ihnen frei, unsere Anfrage nach Ihren persönlichen Daten abzulehnen, mit der Maßgabe, dass wir Ihnen möglicherweise einige Ihrer gewünschten Dienstleistungen nicht anbieten können.
            p
                | Ihre fortgesetzte Nutzung unserer Website gilt als Akzeptanz unserer Praktiken rund um den Datenschutz und personenbezogene Daten. Wenn Sie Fragen zum Umgang mit Benutzerdaten und personenbezogenen Daten haben, können Sie sich gerne an uns wenden.
            p
                | Diese Richtlinie gilt ab dem 17. November 2018.
            br
            br
            hr
            h2 Google Analytics
            p
              | Soweit Sie Ihre Einwilligung erklärt haben, wird auf dieser Website Google Analytics eingesetzt, ein Webanalysedienst der Google LLC („Google“). Die Nutzung umfasst die Betriebsart „Universal Analytics“. Hierdurch ist es möglich, Daten, Sitzungen und Interaktionen über mehrere Geräte hinweg einer pseudonymen User-ID zuzuordnen und so die Aktivitäten eines Nutzers geräteübergreifend zu analysieren. Dieser Datenschutzhinweis wird zur Verfügung gestellt von 
              a(href='https://www.intersoft-consulting.de', target='_blank') www.intersoft-consulting.de
              | .
            p
              | Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Wir weisen Sie darauf hin, dass auf dieser Webseite Google Analytics um eine IP-Anonymisierung erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter 
              a(href='https://www.google.com/analytics/terms/de.html', target='_blank') https://www.google.com/analytics/terms/de.html
              |  bzw. unter 
              a(href='https://policies.google.com/?hl=de', target='_blank') https://policies.google.com/?hl=de
              | .
            p
              strong Zwecke der Verarbeitung
              br
              | Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.
            p
              strong Rechtsgrundlage
              br
              | Die Rechtsgrundlage für den Einsatz von Google Analytics ist Ihre Einwilligung gemäß 
              a(href='https://dsgvo-gesetz.de/art-6-dsgvo/', target='_blank') Art. 6 Abs. 1 S.1 lit. a DSGVO
              | .
            p
              strong Empfänger / Kategorien von Empfängern
              br
              | Der Empfänger der erhobenen Daten ist Google.
            p
              strong Übermittlung in Drittstaaten
              br
              | Die personenbezogenen Daten werden unter dem EU-US Privacy Shield auf Grundlage des Angemessenheitsbeschlusses der Europäischen Kommission in die USA übermittelt. Das Zertifikat können Sie 
              a(href='https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI', target='_blank') hier
              |  abrufen.
            p
              strong Dauer der Datenspeicherung
              br
              | Die von uns gesendeten und mit Cookies, Nutzerkennungen (z. B. User-ID) oder Werbe-IDs verknüpften Daten werden nach 14 Monaten automatisch gelöscht. Die Löschung von Daten, deren Aufbewahrungsdauer erreicht ist, erfolgt automatisch einmal im Monat.
            p
              strong Betroffenenrechte
              br
              | Sie können Ihre Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen, indem Sie die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
            p
              | Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das 
              a(href='https://tools.google.com/dlpage/gaoptout?hl=de', target='_blank') Browser-Add-on
              |  herunterladen und installieren. Opt-Out-Cookies verhindern die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website. Um die Erfassung durch Universal Analytics über verschiedene Geräte hinweg zu verhindern, müssen Sie das Opt-Out auf allen genutzten Systemen durchführen. Wenn Sie hier klicken, wird das Opt-Out-Cookie gesetzt: 
              a(href='javascript:gaOptout()')
                strong Google Analytics deaktivieren
