doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel="stylesheet", href="/css/legal.css")
        title Datenschutzerklärung 
    body
        include ../privacy-policy-sidebar.pug
        .content
            h2 Datenschutzerklärung 
            p
                | Ihre Privatsphäre ist uns wichtig. Robin Lindner respektiert Ihre Privatsphäre in Bezug auf alle Informationen, die wir von Ihnen über unsere Website, 
                a(href='https://sh-rt.ovh') https://sh-rt.ovh
                | und andere Websites, die wir besitzen und betreiben, sammeln.
            p
                | Wir fragen nur dann nach personenbezogenen Daten, wenn wir sie wirklich benötigen, um Ihnen einen Service zu bieten. Wir sammeln sie auf faire und rechtmäßige Weise, mit Ihrem Wissen und Ihrer Zustimmung. Wir teilen Ihnen auch mit, warum wir sie sammeln und wie sie verwendet werden.
            p
                | Wir speichern die gesammelten Daten nur so lange, wie es für die Erbringung der von Ihnen gewünschten Dienstleistung erforderlich ist. Welche Daten wir speichern, schützen wir im Rahmen wirtschaftlich akzeptabler Möglichkeiten, um Verlust und Diebstahl sowie unbefugten Zugriff, Offenlegung, Kopie, Nutzung oder Änderung zu verhindern.
            p
                | Wir geben keine personenbezogenen Daten öffentlich oder an Dritte weiter, außer wenn dies gesetzlich vorgeschrieben ist.
            p
                | Unsere Website kann auf externe Websites verweisen, die nicht von uns betrieben werden. Bitte beachten Sie, dass wir keine Kontrolle über den Inhalt und die Praktiken dieser Websites haben und keine Verantwortung oder Haftung für deren Datenschutzrichtlinien übernehmen können.
            p
                | Es steht Ihnen frei, unsere Anfrage nach Ihren persönlichen Daten abzulehnen, mit der Maßgabe, dass wir Ihnen möglicherweise einige Ihrer gewünschten Dienstleistungen nicht anbieten können.
            p
                | Ihre fortgesetzte Nutzung unserer Website gilt als Akzeptanz unserer Praktiken rund um den Datenschutz und personenbezogene Daten. Wenn Sie Fragen zum Umgang mit Benutzerdaten und personenbezogenen Daten haben, können Sie sich gerne an uns wenden.
            p
                | Diese Richtlinie gilt ab dem 17. November 2018.
            br
            br
            hr
            p
                | Diese Datenschutzerklärung wurde aus dem Englischen übersetzt. Die englische Version befindet sich&nbsp;
                a(href="/privacy-policy-en/") hier
                | .
